
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.py,cover
.pytest_cache/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in
#   version control. However, in case of collaboration, if you prefer to ignore
#   it, uncomment the following line.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# VS Code
.vscode/

# Local IDE/editor folders
.idea/

# dotenv
.env
.venv

